body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

a:hover, a:focus {
  text-decoration: inherit; }

button {
  outline: none; }

.padd-30 {
  padding: 0 30px; }
  @media (max-width: 1280px) {
    .padd-30 {
      padding: 0 20px; } }
  @media (max-width: 767px) {
    .padd-30 {
      padding: 0 14px; } }

.padd-15 {
  padding: 0 15px; }
  @media (max-width: 1280px) {
    .padd-15 {
      padding: 0 10px; } }
  @media (max-width: 767px) {
    .padd-15 {
      padding: 0; } }

.all-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.top-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.bott-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0; }
  header.other-page {
    border-bottom: 1px solid #DDDDDD; }
  @media (max-width: 767px) {
    header {
      padding: 30px 0;
      position: relative; } }
  header .logo {
    min-width: 125px; }
    @media (max-width: 767px) {
      header .logo {
        margin: 0 auto;
        min-width: inherit; } }
  header .ham-menu {
    display: none;
    width: 26px;
    position: absolute;
    right: 0;
    top: 30px;
    padding: 0;
    border: none;
    background: transparent; }
    header .ham-menu span {
      display: block;
      height: 2px;
      width: 100%;
      background: #000;
      margin-bottom: 8px; }
      header .ham-menu span:last-child {
        margin-bottom: 0; }
    @media (max-width: 767px) {
      header .ham-menu {
        display: block; } }
  @media (max-width: 767px) {
    header nav {
      display: none; } }
  header nav .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 0; }
    header nav .header-nav li {
      padding: 0 16px; }
      header nav .header-nav li a, header nav .header-nav li span {
        display: block;
        text-transform: uppercase;
        color: #000;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        font-size: 15px;
        letter-spacing: 1.5px;
        position: relative; }
        header nav .header-nav li a:before, header nav .header-nav li span:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: -5px;
          width: 0;
          background: #FF038E;
          height: 2px;
          -webkit-transform: translate(0, -2px);
                  transform: translate(0, -2px);
          -webkit-transition: 0.3s;
          transition: 0.3s;
          z-index: -1; }
        header nav .header-nav li a:hover:before, header nav .header-nav li span:hover:before {
          width: calc(100% + 10px); }
  header .socials {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 125px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (max-width: 767px) {
      header .socials {
        display: none; } }
    header .socials li {
      padding: 0 13px; }
      header .socials li:last-child {
        padding-right: 0; }
      header .socials li a {
        display: block; }
        header .socials li a path {
          -webkit-transition: 0.3s;
          transition: 0.3s; }
        header .socials li a:hover path {
          fill: #000; }

.main-baner {
  margin-bottom: 26px; }
  @media (max-width: 767px) {
    .main-baner {
      margin-bottom: 20px; } }
  .main-baner:hover .main-baner__before__img:before {
    opacity: 1; }
  .main-baner:hover .main-baner__text {
    color: #FF2E5D; }
  .main-baner__before {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px; }
    .main-baner__before:before {
      content: '';
      display: block;
      padding-top: 42%;
      position: relative; }
      @media (max-width: 767px) {
        .main-baner__before:before {
          padding: 0; } }
    .main-baner__before__img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: center;
      background-size: cover; }
      @media (max-width: 767px) {
        .main-baner__before__img {
          position: relative;
          height: 400px; } }
      .main-baner__before__img:before {
        content: "View project";
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #fff;
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        opacity: 0;
        background: rgba(255, 46, 93, 0.5); }
        @media (max-width: 991px) {
          .main-baner__before__img:before {
            font-size: 16px; } }
  .main-baner__text {
    display: block;
    font-size: 16px;
    color: #000; }

.column-projects {
  margin-bottom: 100px; }
  @media (max-width: 767px) {
    .column-projects {
      margin-bottom: 50px; } }
  .column-projects__item {
    width: 25%;
    padding: 0 15px 30px 15px;
    opacity: 0; }
    .column-projects__item[data-anim=true] {
      opacity: 1;
      -webkit-transition: opacity 1.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: opacity 1.3s cubic-bezier(0.39, 0.575, 0.565, 1); }
    @media (max-width: 1280px) {
      .column-projects__item {
        padding: 0 10px 20px 10px; } }
    @media (max-width: 991px) {
      .column-projects__item {
        width: 33.33%; } }
    @media (max-width: 767px) {
      .column-projects__item {
        padding: 0 14px 20px 14px;
        width: 100%; } }
    .column-projects__item .for-hover {
      cursor: pointer; }
      .column-projects__item .for-hover:hover .column-projects__item__img__view {
        opacity: 1; }
      .column-projects__item .for-hover:hover a, .column-projects__item .for-hover:hover span {
        color: #FF2E5D; }
    .column-projects__item__img {
      margin-bottom: 15px;
      position: relative;
      cursor: pointer; }
      .column-projects__item__img__view {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 46, 93, 0.5);
        z-index: 10;
        opacity: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #fff;
        font-size: 24px;
        letter-spacing: 2px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        text-transform: uppercase; }
        @media (max-width: 991px) {
          .column-projects__item__img__view {
            font-size: 16px; } }
      .column-projects__item__img img {
        display: block;
        width: 100%;
        height: auto; }
    .column-projects__item a, .column-projects__item span {
      display: block;
      color: #000;
      font-size: 16px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

footer {
  border-top: 1px solid #DDDDDD;
  padding: 30px 0; }
  footer p {
    margin: 0;
    color: #999999;
    font-size: 14px; }

.xs-menu {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #ff2e5d;
  z-index: 50;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: incet(50%);
          clip-path: incet(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  @media (max-width: 767px) {
    .xs-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .xs-menu.showed {
    opacity: 1;
    clip: inherit;
    height: 100%;
    margin: 0;
    overflow: inherit;
    padding: 25px 20px;
    width: 100%;
    white-space: inherit; }
  .xs-menu__close {
    position: absolute;
    top: 25px;
    right: 10px;
    width: 34px;
    height: 34px;
    background: transparent;
    border: none;
    padding: 0; }
    .xs-menu__close span {
      position: absolute;
      background: #fff;
      -webkit-transform-origin: center;
              transform-origin: center;
      display: block; }
    .xs-menu__close__line-1 {
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%) rotate(45deg);
              transform: translateX(-50%) rotate(45deg);
      width: 2px;
      height: 100%; }
    .xs-menu__close__line-2 {
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg);
      width: 100%;
      height: 2px; }

.header-nav-xs {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .header-nav-xs li {
    margin-bottom: 37px; }
  .header-nav-xs a {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    display: block; }

.socials-xs {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .socials-xs li {
    padding: 0 17px; }
    .socials-xs li a {
      display: block; }
      .socials-xs li a path {
        fill: #fff; }

.gum-padd {
  padding: 0 10.2%; }
  @media (max-width: 991px) {
    .gum-padd {
      padding: 0 5%; } }
  @media (max-width: 767px) {
    .gum-padd {
      padding: 0; } }
  @media (max-width: 767px) {
    .gum-padd--xs-padd {
      padding: 0 5%; } }

.head-style {
  margin-top: 0;
  font-size: 36px;
  font-weight: normal;
  font-family: "Barlow Condensed", sans-serif;
  padding-left: 28px;
  margin-bottom: 54px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px; }
  @media (max-width: 991px) {
    .head-style {
      margin-bottom: 45px; } }
  .head-style:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 2px;
    height: 60px;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF038E), to(#FF582C));
    background: linear-gradient(to top, #FF038E, #FF582C); }

.about-sec {
  padding-top: 100px; }
  @media (max-width: 991px) {
    .about-sec {
      padding-top: 66px; } }
  .about-sec__text {
    margin-bottom: 80px; }
    @media (max-width: 991px) {
      .about-sec__text {
        margin-bottom: 47px; } }
    .about-sec__text p {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 30px; }
      .about-sec__text p a {
        color: #000;
        border-bottom: 1px solid #000;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        .about-sec__text p a:hover {
          color: #ff2e5d;
          border-color: rgba(255, 46, 93, 0.5); }
      .about-sec__text p:last-child {
        margin-bottom: 0; }

.uniq-m-w {
  max-width: 1030px;
  margin: 0 auto; }

.uniq-m-w-2 {
  max-width: 1230px;
  margin: 0 auto; }

.people-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 1280px) {
    .people-about {
      margin-bottom: 0; } }
  @media (max-width: 767px) {
    .people-about {
      display: block; } }
  .people-about__item {
    width: 33.33%;
    margin-bottom: 60px; }
    @media (max-width: 1280px) {
      .people-about__item {
        margin-bottom: 50px; } }
    @media (max-width: 767px) {
      .people-about__item {
        width: 100%;
        margin-bottom: 0; } }
    .people-about__item__image {
      position: relative;
      width: 100%;
      overflow: hidden;
      margin-bottom: 30px; }
      .people-about__item__image:before {
        content: '';
        display: block;
        padding-top: 110%;
        position: relative; }
      .people-about__item__image__after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: center;
        background-size: cover; }
    .people-about__item__description {
      padding-right: 30px; }
      @media (max-width: 767px) {
        .people-about__item__description {
          padding-right: 0;
          margin-bottom: 40px; } }
      .people-about__item__description p {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 30px; }
        @media (max-width: 767px) {
          .people-about__item__description p {
            margin-bottom: 15px; } }
      .people-about__item__description .name {
        font-size: 18px;
        font-weight: 700; }

.contact-form {
  max-width: 1030px;
  margin-bottom: 162px; }
  @media (max-width: 767px) {
    .contact-form {
      margin-bottom: 130px; } }
  .contact-form__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .contact-form__flex {
        display: block; } }
    .contact-form__flex .w-50 {
      width: 50%; }
      @media (max-width: 767px) {
        .contact-form__flex .w-50 {
          width: 100%; } }
      @media (max-width: 767px) {
        .contact-form__flex .w-50:last-child {
          margin-top: -1px; } }
      .contact-form__flex .w-50:last-child input {
        width: calc(100% + 1px);
        position: relative;
        left: -1px; }
        @media (max-width: 767px) {
          .contact-form__flex .w-50:last-child input {
            left: 0;
            width: 100%; } }
    .contact-form__flex input.border {
      border: 1px solid #DDDDDD; }
      .contact-form__flex input.border.error {
        border: 1px solid #FF2E5D;
        z-index: 5;
        position: relative;
        color: #FF2E5D; }
        .contact-form__flex input.border.error::-webkit-input-placeholder {
          color: #FF2E5D; }
        .contact-form__flex input.border.error::-moz-placeholder {
          color: #FF2E5D; }
        .contact-form__flex input.border.error:-moz-placeholder {
          color: #FF2E5D; }
        .contact-form__flex input.border.error:-ms-input-placeholder {
          color: #FF2E5D; }
  .contact-form .w-100 {
    position: relative;
    margin-top: -1px; }
  .contact-form input, .contact-form textarea {
    outline: none;
    display: block;
    width: 100%;
    background: #F9F9F9;
    padding: 18px 20px;
    font-size: 15px;
    color: #000;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #DDDDDD; }
    .contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
      color: #999999; }
    .contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {
      color: #999999; }
    .contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {
      color: #999999; }
    .contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
      color: #999999; }
    .contact-form input.error, .contact-form textarea.error {
      border: 1px solid #FF2E5D;
      z-index: 5;
      position: relative;
      color: #FF2E5D; }
    .contact-form input:focus, .contact-form textarea:focus {
      border-color: #000 !important;
      z-index: 15;
      position: relative;
      color: #000 !important; }
      .contact-form input:focus::-webkit-input-placeholder, .contact-form textarea:focus::-webkit-input-placeholder {
        color: #000 !important; }
      .contact-form input:focus::-moz-placeholder, .contact-form textarea:focus::-moz-placeholder {
        color: #000 !important; }
      .contact-form input:focus:-moz-placeholder, .contact-form textarea:focus:-moz-placeholder {
        color: #000 !important; }
      .contact-form input:focus:-ms-input-placeholder, .contact-form textarea:focus:-ms-input-placeholder {
        color: #000 !important; }
  .contact-form input {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD; }
  .contact-form textarea {
    border: 1px solid #DDDDDD;
    resize: none;
    height: 205px;
    margin-bottom: 30px; }
    .contact-form textarea.error {
      border: 1px solid #FF2E5D; }

.butt-style {
  display: block;
  width: 100%;
  position: relative;
  outline: none;
  padding: 16px 0;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: transparent;
  background: #000; }
  .butt-style--modal {
    max-width: 214px;
    margin: 0 auto; }
    .butt-style--modal span {
      font-size: 14px; }
  .butt-style:hover:before {
    opacity: 0; }
  .butt-style:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#FF038E), to(#FF582C));
    background: linear-gradient(to right, #FF038E, #FF582C); }
  .butt-style span {
    font-weight: 700;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 1px;
    letter-spacing: 1.5px; }

.slider-project__slide {
  outline: none; }
  .slider-project__slide__before {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .slider-project__slide__before {
        margin-bottom: 20px; } }
    .slider-project__slide__before:before {
      content: '';
      display: block;
      padding-top: 49%;
      position: relative; }
    .slider-project__slide__before__img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: center;
      background-size: cover; }

.m-w-slider-nav {
  max-width: 1230px;
  margin: 0 auto;
  margin-bottom: 105px; }
  @media (max-width: 991px) {
    .m-w-slider-nav {
      margin-bottom: 64px; } }

.photos-wrapp::-webkit-scrollbar {
  width: 2px;
  height: 2px; }

.photos-wrapp::-webkit-scrollbar-button {
  width: 2px;
  height: 2px; }

.slider-nav {
  position: relative; }
  .slider-nav .active-cube {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    -webkit-box-shadow: inset 0px 0px 0px 2px #ff2e5d;
    box-shadow: inset 0px 0px 0px 2px #ff2e5d;
    z-index: 10;
    -webkit-transition: 0.6s;
    transition: 0.6s; }
  .slider-nav .photos-wrapp {
    position: absolute;
    top: 0;
    left: 0;
    width: 217px;
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-transform: rotate(-90deg) translateY(-217px);
            transform: rotate(-90deg) translateY(-217px);
    -webkit-transform-origin: right top;
            transform-origin: right top; }
    @media (max-width: 991px) {
      .slider-nav .photos-wrapp {
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-user-select: auto;
            -ms-user-select: auto;
                user-select: auto;
        -moz-user-select: auto;
        -khtml-user-select: auto;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; } }
  .slider-nav__slide {
    width: 12%;
    padding: 1px;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    outline: none;
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    @media (max-width: 991px) {
      .slider-nav__slide {
        -webkit-user-select: auto;
            -ms-user-select: auto;
                user-select: auto;
        -moz-user-select: auto;
        -khtml-user-select: auto;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; } }
    .slider-nav__slide__before {
      position: relative;
      width: 100%;
      overflow: hidden; }
      .slider-nav__slide__before:before {
        content: '';
        display: block;
        padding-top: 100%;
        position: relative; }
      .slider-nav__slide__before__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: center;
        background-size: cover; }

.flex-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 105px; }
  @media (max-width: 767px) {
    .flex-photos {
      padding: 0 7px; } }
  @media (max-width: 991px) {
    .flex-photos {
      margin-bottom: 64px; } }
  .flex-photos__item {
    width: 25%;
    padding: 15px; }
    @media (max-width: 1280px) {
      .flex-photos__item {
        padding: 10px; } }
    @media (max-width: 991px) {
      .flex-photos__item {
        width: 33.33%; } }
    @media (max-width: 767px) {
      .flex-photos__item {
        width: 50%;
        padding: 7px; } }
    .flex-photos__item__before {
      position: relative;
      width: 100%;
      overflow: hidden;
      cursor: pointer; }
      .flex-photos__item__before:before {
        content: '';
        display: block;
        padding-top: 100%;
        position: relative; }
      .flex-photos__item__before__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: center;
        background-size: cover; }

.butt-go-to-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 275px; }
  @media (max-width: 1280px) {
    .butt-go-to-project {
      margin-bottom: 85px; } }
  .butt-go-to-project a {
    display: block;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    background: #C4C4C4;
    text-transform: uppercase;
    padding: 18px 32px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 2px; }
    .butt-go-to-project a:hover {
      background-color: #000; }

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); }

#ok-modal .close-modal {
  position: absolute;
  top: 28px;
  right: 20px;
  width: 34px;
  height: 34px;
  background: transparent;
  border: none;
  padding: 0; }
  #ok-modal .close-modal:hover span {
    background: #000; }
  @media (max-width: 767px) {
    #ok-modal .close-modal {
      top: 7px;
      right: 7px; } }
  #ok-modal .close-modal span {
    position: absolute;
    background: #DDDDDD;
    -webkit-transform-origin: center;
            transform-origin: center;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  #ok-modal .close-modal__line-1 {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    width: 2px;
    height: 100%; }
  #ok-modal .close-modal__line-2 {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
    width: 100%;
    height: 2px; }
#ok-modal .modal-dialog {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  border: 1px solid #DDDDDD;
  width: 680px;
  padding: 71px; }
  @media (max-width: 767px) {
    #ok-modal .modal-dialog {
      width: 290px;
      position: relative;
      top: 0;
      left: 0;
      -webkit-transform: none;
              transform: none;
      margin: 30px auto;
      padding: 30px; } }
  #ok-modal .modal-dialog p {
    font-size: 36px;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 44px; }

/*# sourceMappingURL=style.css.map */