$main_font:'Roboto', sans-serif;
$second_font: 'Barlow Condensed', sans-serif;
$r: 400;
$b: 700;

body{
    font-family: $main_font;
    font-weight: $r;
}
a{
    &:hover,
    &:focus{
        text-decoration: inherit;   
    }
}
button{
    outline: none;
}
.padd-30{
    padding: 0 30px;
    @media (max-width: 1280px){
        padding: 0 20px;
    }
    @media (max-width: 767px){
        padding: 0 14px;
    }
}
.padd-15{
    padding: 0 15px;
    @media (max-width: 1280px){
        padding: 0 10px;
    }
    @media (max-width: 767px){
        padding: 0;
    }
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    &.other-page{
        border-bottom: 1px solid #DDDDDD;
    }
    @media (max-width: 767px){
         padding: 30px 0;
        position: relative;
    }
    
    .logo{
        min-width: 125px;
        @media (max-width: 767px){
            margin: 0 auto;
            min-width: inherit;
        }
    }
    .ham-menu{
        display: none;
        width: 26px;
        position: absolute;
        right: 0;
        top: 30px;
        padding: 0;
        border: none;
        background: transparent;
        span{
            display: block;
            height: 2px;
            width: 100%;
            background: #000;
            margin-bottom: 8px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        @media (max-width: 767px){
            display: block;
        }
    }
    nav{
        @media (max-width: 767px){
            display: none;
        }
        .header-nav{ 
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            li{
                padding: 0 16px;  
                a,span{
                    display: block;
                    text-transform: uppercase;
                    color: #000;
                    transition: 0.3s;
                    font-size: 15px;
                    letter-spacing: 1.5px;
                    position: relative;
                    &:before{
                       content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 0;
                        background: #FF038E;
                        height: 2px;
                        transform: translate(-50%,-2px);
                        transition: 0.3s;
                        z-index: -1;
                    }
                    &:hover{
                        &:before{
                            width: calc(100% + 10px);
                        }
                    }
                    
                }
            }
        }
    }
    .socials{
        list-style: none;
        margin: 0;
        display: flex;
        align-items: center;
        min-width: 125px;
        justify-content: flex-end;
        @media (max-width: 767px){
            display: none;
        }
        li{
            padding: 0 13px;
            &:last-child{
                padding-right: 0;
            }
            a{
                display: block;
                path{
                    transition: 0.3s;
                    
                }
                &:hover{
                    path{
                        fill: #000;
                    }
                }
            }
        }
    }
}
.main-baner{
    margin-bottom: 26px;
    @media (max-width: 767px){
        margin-bottom: 20px;
    }
    &__before{
        position: relative;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 20px;
        &:before{
            content: '';
            display: block;
            padding-top: 42%;
            position: relative;
        }
        &__img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: center;
            background-size: cover;
            
        }
    }
    &__text{
        display: block;
        font-size: 16px;
        color: #000;
    }
}

.column-projects{
    margin-bottom: 100px;
    @media (max-width: 767px){
        margin-bottom: 50px;
    }
    &__item{
        width: 25%;
        padding: 0 15px 30px 15px;
        opacity: 0;
        &[data-anim=true]{
            opacity: 1;
             transition: opacity 1.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
        @media (max-width: 1280px){
            padding: 0 10px 20px 10px;
        }
        @media (max-width: 991px){
            width: 33.33%;
        }
        @media (max-width: 767px){
            padding: 0 14px 20px 14px;
            width: 100%;
        }
        
        &__img{
            margin-bottom: 21px;
            position: relative;
            cursor: pointer;
            &__view{
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(255, 46, 93, 0.75);
                z-index: 10;
                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 24px;
                letter-spacing: 2px;
                transition: 0.3s;
                text-transform: uppercase;
                
                @media (max-width: 991px){
                    font-size: 16px;
                }
            }
            &:hover{
                .column-projects__item__img__view{
                    opacity: 1;
                }
            }
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
        a,span{
            display: block;
            color: #000;
            font-size: 16px;
        }
    }
}
footer{
   border-top: 1px solid #DDDDDD;
    padding: 30px 0;
    
    p{
        margin: 0;
        color: #999999;
        font-size: 14px;
    }
    
}
.xs-menu{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #ff2e5d;
    z-index: 50;
    //hidden
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: incet(50%); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    width: 1px; 
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    @media (max-width: 767px){
        display: flex;
    }
    &.showed{
        opacity: 1;
        clip: inherit;
        height: 100%;
        margin: 0;
        overflow: inherit;
        padding: 25px 20px;
        width: 100%;
        white-space: inherit;
    }
    &__close{
        position: absolute;
        top: 25px;
        right: 10px;
        width: 34px;
        height: 34px;
        background: transparent;
        border: none;
        padding: 0;
        span{
            position: absolute;
            background: #fff;
            transform-origin: center;
            display: block;
        }
        &__line-1{
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            width: 2px;
            height: 100%;
        }
        &__line-2{
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(45deg);
            width: 100%;
            height: 2px;
        }
    }
}

.header-nav-xs{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: column;
    li{
        margin-bottom: 37px;
    }
    a{
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        display: block;
    }
}
.socials-xs{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
        padding: 0 17px;
      
        a{
            display: block;
            path{
                fill:#fff;
            }
        }
    }
}
.gum-padd{
    padding: 0 10.2%;
    @media (max-width: 991px){
       padding: 0 5%;
    }
}
.head-style{
    margin-top: 0;
    font-size: 36px;
    font-weight: normal;
    font-family: $second_font;
    padding-left: 48px;
    margin-bottom: 54px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    &--less-padding{
        padding-left: 28px;
    }
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2px;
        height: 60px;
        background: linear-gradient(to top, #FF038E, #FF582C);
    }
}
.about-sec{
    padding-top: 70px;
    &__text{
        margin-bottom: 60px;
        p{
            margin-bottom: 40px;
            font-size: 16px;
            line-height: 30px;
            a{
                color: #000;
                border-bottom: 1px solid #000;
                transition: 0.3s;
                &:hover{
                    color: rgba(255, 46, 93, 1); 
                    border-color: rgba(255, 46, 93, 0.5);
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
.people-about{
    display: flex;
    margin-bottom: 200px;
    @media (max-width: 1280px){
       margin-bottom: 50px;
    }
    @media (max-width: 767px){
       display: block;
    }
    &__item{
        width: 33.33%;
        @media (max-width: 767px){
           width: 100%;
        }
        &__image{
            position: relative;
            width: 100%;
            overflow: hidden;
            margin-bottom: 30px;
            &:before{
                content: '';
                display: block;
                padding-top: 110%;
                position: relative;
            }
            &__after{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: center;
                background-size: cover;
            }
            
        }
        &__description{
            padding-right: 30px;
            @media (max-width: 767px){
                padding-right: 0;
                margin-bottom: 40px;
            }
            p{
                margin-bottom: 12px;
                font-size: 16px;
                line-height: 30px;
                @media (max-width: 767px){
                   margin-bottom: 15px;
                }
            }
            .name{
                font-size: 18px;
                font-weight: $b;
            }
            
                
        }
    }
}
.contact-form{
    max-width: 1030px;
    margin-bottom: 162px;
    @media (max-width: 767px){
        margin-bottom: 130px;
    }
    &__flex{
        display: flex;
        @media (max-width: 767px){
           display: block;
        }
        .w-50{
            width: 50%;
            &:last-child{
                input{
                    width: calc(100% + 1px);
                    position: relative;
                    left: -1px;
                }
            }
        }
       
        input{
            
            &.border{
               border: 1px solid #DDDDDD;
                &.error{
                    border: 1px solid #FF2E5D;
                    z-index: 5;
                    position: relative;
                    color: #FF2E5D;
                    &::-webkit-input-placeholder {
                        color: #FF2E5D;
                    }
                    &::-moz-placeholder {
                        color: #FF2E5D;
                    }
                    &:-moz-placeholder {
                        color: #FF2E5D;
                    }
                    &:-ms-input-placeholder {
                        color: #FF2E5D;
                    }
                }             
            }
            
        }
    }
    .w-100{
        position: relative;
        margin-top: -1px;
    }
    input,textarea{
        outline: none;
        display: block;
        width: 100%;
        background: #F9F9F9;
        padding: 18px 20px;
        font-size: 15px;
        color: #000;
        transition: 0.2s;
        border: 1px solid #DDDDDD;
        &::-webkit-input-placeholder {
            color: #999999;
        }
        &::-moz-placeholder {
            color: #999999;
        }
        &:-moz-placeholder {
            color: #999999;
        }
        &:-ms-input-placeholder {
            color: #999999;
        }
        &.error{
            border: 1px solid #FF2E5D;
            z-index: 5;
            position: relative;
            color: #FF2E5D;
        }
        &:focus{
            border-color: #000!important;
            z-index: 15;
            position: relative;
            color: #000!important;
            
            &::-webkit-input-placeholder {
               color: #000!important;
            }
            &::-moz-placeholder {
                color: #000!important;
            }
            &:-moz-placeholder {
                color: #000!important;
            }
            &:-ms-input-placeholder {
                color: #000!important;
            }
        }
    }
    input{
        
        border-left: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        
    }
    textarea{
        border: 1px solid #DDDDDD;
        resize: none;
        height: 205px;
        margin-bottom: 30px;
        &.error{
            border: 1px solid #FF2E5D;
        }
    }
    button{
        display: block;
        width: 100%;
        position: relative;
        outline: none;
        padding: 16px 0;
        border: none;
        transition: 0.3s;
        background: transparent;
         background: #FF2E5D;
        &:hover{
           
            &:before{
                opacity: 0;
            }
        }
        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: 0.3s;
            height: 100%;
            background: linear-gradient(to right, #FF038E, #FF582C);
        }
        span{
            font-weight: $b;
            color: #fff;
            font-size: 15px;
            text-transform: uppercase;
            display: block;
            text-align: center;
            position: relative;
            z-index: 2;
            top: 1px;
            letter-spacing: 1.5px;
        }
    }
}
.slider-project{
    &__slide{
        outline: none;
        &__before{
            position: relative;
            width: 100%;
            overflow: hidden;
            margin-bottom: 30px;
            @media (max-width: 767px){
               margin-bottom: 20px;
            }
            &:before{
                content: '';
                display: block;
                padding-top: 49%;
                position: relative;
            }
            &__img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: center;
                background-size: cover;
            }
        }
    }
}
.m-w-slider-nav{
    max-width: 1142px;
    margin: 0 auto;
    margin-bottom: 90px;
}
.photos-wrapp::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.photos-wrapp::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
}


.slider-nav{
    position: relative;
    .photos-wrapp{
        position: absolute;
        top: 0;
        left: 0;
        width: 217px;
        overflow-y: auto;
        overflow-x: hidden;
        transform: rotate(-90deg) translateY(-217px);
        transform-origin: right top;
        
    }
    &__slide{
        width: 12%;
        padding: 1px;
        cursor: pointer;
        transform: rotate(90deg);
        transform-origin: center;
        outline: none;
        &.active-sl{
            .slider-nav__slide__before{
                border: 2px solid #FF2E5D;
            } 
        }
        &__before{
            position: relative;
            width: 100%;
            overflow: hidden;
            &:before{
                content: '';
                display: block;
                padding-top: 100%;
                position: relative;
            }
            &__img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: center;
                background-size: cover;
            }
        }
    }
}
.flex-photos{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 75px;
    @media (max-width: 767px){
       padding: 0 7px;
    }
    &__item{
        width: 25%;
        padding: 15px;
        @media (max-width: 1280px){
           padding: 10px;
        }
        @media (max-width: 991px){
           width: 33.33%;
        }
        @media (max-width: 767px){
           width: 50%;
            padding: 7px;
        }
        &__before{
            position: relative;
            width: 100%;
            overflow: hidden;
            cursor: pointer;
            &:before{
                content: '';
                display: block;
                padding-top: 100%;
                position: relative;
            }
            &__img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: center;
                background-size: cover;
            }
        }
    }
}
.butt-go-to-project{
    display: flex;
    justify-content: center;
    margin-bottom: 275px;
    @media (max-width: 1280px){
       margin-bottom: 85px;
    }
    
    a{
        display: block;
        font-size: 15px;
        color: #fff;
        font-weight: $b;
        background: #C4C4C4;
        text-transform: uppercase;
        padding: 18px 32px;
    }
}
.modal-backdrop{
     background-color: rgba(0,0,0,0.5);
}
#ok-modal{
   
    .modal-dialog{
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        border: 1px solid #DDDDDD;
        width: 680px;
        padding: 71px;
        p{
            font-size: 36px;
            font-family: $second_font;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
            margin-bottom: 44px;
        }
    }
}